$color-primary: #3300ff;
$color-primary-invert: #052b30;
$color-black: #000;
$color-white: #fff;
$color-grey100: #1a1a1a;
$color-grey60: #212121;
$color-grey40: #393939;
$color-grey30: #757575;
$color-grey20: #a7a7a7;
$color-grey15: #ececec;
$color-grey10: #ccc;
$color-grey6: #e6e6e6;

@import url('https://fonts.googleapis.com/css?family=Barlow:400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
@import '../../node_modules/tachyons-sass/tachyons.scss';

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    height: 100%;
    width: 100%;
    line-height: 1.6;
    background-color: $color-white;
    color: $color-grey100;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 2rem;
}

h1, h2, h3 {
    color: $color-black;
    margin: 0;
}

h1 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.15;
}

h2 {
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.3;
    position: relative;

    .number {
        color: $color-grey30;
        font-weight: 400;
    }
}

h3 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.3;
}

strong {
    font-weight: 600;
}

p {
    margin: 0;
    padding: 0;

    code {
        padding: 4px 8px;
        margin: 0 2px;
        color: $color-grey100;
        background-color: rgba($color-grey100, 0.1);
        font-weight: 600;
        border: none;
    }

    a:after {
        position: absolute;
        bottom: -3px;
        width: 100%;
        border-bottom: 2px solid $color-black;
        content: ' ';
        left: 0px;
        opacity: 0.2;
        transition: opacity 60ms ease;
    }
}

a {
    color: $color-grey100;
    cursor: default;
    text-decoration: none;
    position: relative;
    font-weight: 500;

    &[href] {
        cursor: pointer;
    }

    &:hover {
        color: $color-primary;

        &:after {
            opacity: 0.8;
            border-color: $color-primary;
        }
    }
}

small {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
}

code {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 1.4rem;
    border: 1px solid darken(#1c1c1c, 20%);
    background-color: #1c1c1c;
    padding: 16px 20px;
    border-radius: 4px;
    color: #dfdfdf;
    overflow: auto;

    .white {
        color: $color-white;
    }

    .grey {
        color: $color-grey20;
    }

    .yellow,
    .hljs-name,
    .hljs-keyword {
        color: #ffc866;
    }

    .green,
    .hljs-string {
        color: #a4dd5b;
    }

    .orange,
    .hljs-attr {
        color: #beb0ff;
    }

    &.release {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        border-color: $color-primary;
        background-color: $color-primary;
        height: 20px;
        font-size: 1rem;
        line-height: 1;
        padding: 0 5px;
        color: $color-white;
        font-weight: 800;
        top: -1px;
    }
}

.container {
    max-width: 920px;
    padding-left: 32px;
    padding-right: 32px;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 24px;
    z-index: 220;
    background-color: rgba($color-white, .92);

    .container {
        max-width: 1100px;
    }

    a {
        color: $color-grey60;

        &:after {
            border: none;
        }
    }

    > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;

        code {
            margin-left: 10px;
        }
    }
}

@keyframes scroll {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 0 -600px;
    }
}

.bg {
    position: absolute;
    top: 24px;
    content: ' ';
    width: 100%;
    height: 600px;
    background-size: 60%;
    background-position: center center;
    display: flex;
    z-index: -1;
    animation: scroll linear infinite 60000ms;

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: block;
        content: ' ';
        height: 100%;
        z-index: 1;
        background: radial-gradient(rgba($color-white, 0), $color-white 60%);
    }
}

.alert {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    border: 2px solid rgba($color-primary, .2);
    color: $color-primary;
    background-color: $color-white;
    padding: 20px 16px 20px  24px;
    width: 100%;
    border-radius: 8px;
    font-size: 1.6rem;
    transform: translateY(0);
    transition: border-color 80ms ease, transform 80ms ease;

    > span {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    &[href]:hover {
        border-color: $color-primary;
        transform: translateY(-3px);
    }
}


section.desc {
    .snippet {
        width: 100%;

        pre {
            display: flex;
            width: 100%;
            word-wrap: break-word;
            margin: 0;
        }

        code {
            width: 100%;
        }
    }

    h2 + p {
        margin-top: 12px;
    }

    p + .snippet {
        margin-top: 16px;
    }

    p + p {
        margin-top: 8px;
    }

    p + h3,
    .snippet + h3 {
        margin: 32px 0 8px 0;
    }

    .snippet + p {
        margin: 40px 0 0 0;
    }

    .snippet + .snippet {
        margin-top: 24px;
    }

    + .alert {
        margin-top: 48px;
    }

    h2 > code {
        background-color: $color-grey6;
        padding: 4px 16px;
        font-size: 2.4rem;
        border: 0;
        color: $color-black;
    }
}

.faq + .faq {
    margin-top: 48px;
}

.options {
    display: flex;
    align-items: center;

    a {
        font-size: 1.6rem;
        font-weight: 600;

        + a {
            margin-left: 40px;
        }

        + .button {
            margin-left: 40px;
        }

        &.active {
            color: $color-primary;
        }
    }
}

footer {
    position: relative;
    width: 100%;
    padding: 32px 0;
    margin: 72px 0 48px 0;

    a {
        &:after {
            border: none;
        }
    }

    p {
        font-size: 1.4rem;
    }

    > div {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

main {
    padding-top: 164px;
    padding-bottom: 96px;

    h1 {
        font-size: 7rem;
    }

    p.large {
        font-size: 2.4rem;
    }
}

.info {
    padding-top: 148px;
    padding-bottom: 64px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 28px;

    .button + .button {
        margin-left: 24px;
    }
}

.more {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

    .split {
        height: 20px;
        width: 1px;
        background-color: $color-grey10;
        content: ' ';
        margin: 14px 0;
    }

    a {
        font-size: 1.6rem;
        line-height: 1;
    }
}

.button {
    position: relative;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1.2px;
    padding: 14px 24px;
    color: $color-white;
    background-color: $color-primary;
    border: 1px solid $color-primary;
    border-radius: 4px;
    width: fit-content;
    width: -moz-fit-content;
    cursor: default;
    line-height: 1.2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 50ms ease, box-shadow 50ms ease, background-color 50ms ease;

    &:hover {
        color: $color-white;
        background-color: darken($color-primary, 4%);
        border-color: darken($color-primary, 4%);
    }

    &.grey {
        color: $color-grey10;
        background-color: $color-grey40;
    }

    &.outlined {
        color: $color-primary;
        border: 1px solid $color-grey10;
        background-color: $color-white;
        font-weight: 700;

        &:hover {
            color: $color-white;
            background-color: $color-primary;
            border-color: $color-primary;
        }
    }

    &.small {
        padding: 8px 12px;
        font-size: 1.2rem;
        letter-spacing: 1px;
        box-shadow: none;
        border-radius: 3px;
    }

    &.large {
        padding: 20px 32px;
        font-size: 1.6rem;
        box-shadow: none;
    }

    &:active {
        transform: translateY(1px);
        box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.24);
    }
}

section + section {
    margin-top: 72px;
}

.svgs {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-column-gap: 28px;
    grid-row-gap: 28px;
    color: $color-white;
    margin-top: 24px;
}

.displayicon {
    background-color: $color-white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    height: 52px;
    border: 1px solid $color-grey10;

    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 52px;
        color: $color-black;
        height: 100%;
        border-radius: 4px 0 0 4px;
    }

    .desc {
        border-left: 1px solid rgba($color-grey10, .4);
        color: $color-black;
        flex-grow: 1;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 0 4px 4px 0;
        padding-left: 16px;
        justify-content: center;
        align-items: flex-start;

        > small {
            font-size: 1.1rem;
            text-transform: capitalize;
            height: 0;
            transition: all 100ms ease;
            opacity: 0;
            letter-spacing: .4px;
            color: $color-grey30;
        }

        > .name {
            font-family: 'Roboto Mono', sans-serif;
            font-weight: 300;
            font-size: 1.4rem;
        }

    }

    &:hover {
        border-color: $color-primary;
        color: $color-primary;

        .desc {
            border-color: rgba($color-primary, 0.2);

            > small {
                height: 14px;
                opacity: 1;
            }
        }
    }
}

.snippets {
    display: flex;
    margin-top: 24px;

    .snippet + .snippet {
        margin-left: 24px;
    }
}

.snippet {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    small {
        display: flex;
        justify-content: space-between;
        margin-bottom: 6px;
        width: 100%;
        color: $color-grey60;
        font-weight: 700;

        a, strong {
            display: inline-flex;
            align-items: center;

            &:after {
                display: none;
            }
        }

        strong {
            color: $color-grey30;
        }
    }
}

@media only screen and (max-width: 768px) {
    html {
      font-size: 55%;
    }

    footer > div {
        flex-direction: column-reverse;
    }

    footer .options {
        flex-direction: column;
        margin-bottom: 40px;

        a + a {
            margin-top: 30px;
            margin-left: 0;
        }
    }
}
  
//   @media only screen and (max-width: 320px) {
//     b {
//       font-size: 10px;
//     }
//   }